body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group .error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.form-group input[type="password"] {
    margin-bottom: 5px;
}

.form-group .show-password {
    display: inline-block;
    margin-top: -25px;
    margin-left: 5px;
    cursor: pointer;
}

.form-group .show-password input {
    width: auto;
}

.form-group .show-password label {
    display: inline-block;
    margin: 0;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}
